
body {
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 1em;
	line-height: 1.5;	
	font-family: 'Roboto Mono', monospace !important;
}
h3{
	color: #F7DC31;
}
h4{
	
	color:black;
	font-weight: bold;
	background-color:#F7DC31; 
}

h5{

	text-align:center;
	color:black;
	background-color: #F7DC31;
}
.lead{
	color: #F7DC31;
	
}
/*-----------menu navegación----------*/
.navbar-light .navbar-toggler {
	background-color: #F7DC31;
	border-color:black;
  }
  #myTogglerNav  a:hover {
	color:  #F7DC31!important;
  }


/*-------------sobre mi-------------*/
.presentation {
	margin-left:2%;
	margin-right: 2%;
}
.content-wrap{
	max-width: 950px;
	margin:0;
	background-color: rgb(243, 243, 245);
	padding: 1.5%;
	margin-bottom: 20px;
	border-radius: 1%;
	text-align:justify;	
	
}
/*----------------------ESTILOS HEADER---------------*/

.masthead{
	height: 100vh;
	min-height: 500px;
	background-image: url("../img/banner2.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*------IMG_DNI-------*/
/*---------boton---------*/
#sendForm{
	color: black;
	background-color: #F7DC31;
	margin-bottom: 2%;
}

/*-----------icons------------*/
.icon_nombre{
	float:left;
}
.icon_mail{
	float:left;
}
.icon_phone{
	float:left;
}
.icon_map{
	float:left;
}

ul{
	list-style: none;
}
/*-------skills-----------*/


/*-----------ESTILOS FOOTER-----------*/
.page-footer{
	background:rgb(243, 243, 245);
	color:black;
}
.footer-copyright{
	background:white;;
}




