html{
	font-family: 'Merriweather', serif;		
}
h2 h3{
	font-family: 'Lato bold',sans-serif;
}
h3{
	color: #665687;
}
body {
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 1em;
	line-height: 1.5;	
}
h4{
	font-family: 'Lato bold',sans-serif;
	color:#B5C9C3;
	font-weight: bold;
}

h5{
	font-family: 'Lato bold',sans-serif;
	text-align:center;
}



.presentation {
	margin-left:2%;
	margin-right: 2%;
}
.content-wrap{
	max-width: 950px
	margin:0;
	background-color: #C9D3E0;
	padding: 1.5%;
	margin-bottom: 20px;
	border-radius: 1%;	
	
}
/*----------------------ESTILOS HEADER---------------*/

.masthead{
	height: 100vh;
	min-height: 500px;
	background-image: url("../img/banner.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

/*------IMG_DNI-------*/
/*-----------icons------------*/
.icon_nombre{
	float:left;
}
.icon_mail{
	float:left;
}
.icon_phone{
	float:left;
}
.icon_map{
	float:left;
}

ul{
	list-style: none;
}
/*-------skills-----------*/


/*-----------ESTILOS FOOTER-----------*/
#main-footer{
	background: #333;
	color: white;
	height: 80px;
}
#main-footer a{
	color:white;
}
#logo-footer{
	float:left;
	padding: 15px;
	text-decoration: none;
}
#logo-footer:hover{
	color:#0b76a6;
}

#logo-footer .site-name{
	display:block;
	font-weight: 300;
	font-size: 0.8em;
	color: #999;
}
#logo-footer .gmail{
	display:block;
	font-weight: 700;
	font-size:1.2em ;

}



