html{
	font-family: 'Merriweather', serif;		
}
h2 h3{
	font-family: 'Lato bold',sans-serif;
}
h3{
	color: #665687;
}
body {
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 1em;
	line-height: 1.5em;	
}

.presentation {
	margin-left:2%;
	margin-right: 2%;
}
#about_me{
	margin: 5px;
	 
}
.content-wrap{
	max-width: 950px
	margin:0;
	background-color: #C9D3E0;
	padding: 1.5%;
	margin-bottom: 20px;	
}

/*----------------------ESTILOS HEADER---------------*/
#main-header{
	background: #333;
	color: white;
	height: 80px;
}
	#main-header a{
		color:white;
	}
#logo-header{
	float:left;
	padding: 15px;
	text-decoration: none;
}
	#logo-header:hover{
		color:#0b76a6;
	}

#logo-header .site-name{
	display:block;
	font-weight: 700;
	font-size:1.2em ;
}
#logo-header .site-desc{
	display:block;
	font-weight: 300;
	font-size: 0.8em;
	color: #999;
}
nav{
	float: right;
}
	nav ul{
		margin:0;	
		padding: 0;
		padding-right:20px; 
	}
	nav ul li {
		display:inline-block;
		line-height: 80px;
	}
	nav ul li a{
		display:block;
		padding: 0 10px;
		text-decoration: none;
	}
	nav ul li a:hover {
			background: #0b76a6;
	}
.banner{
	position: relative;
	text-align: center;
	background-image: url("../img/banner.jpg");
	width:100vw; 
	height:60vh;
	background-size: cover;
	background-position: 50% 15%;
	margin-top: 3%;

}
.banner-content{
	position: absolute;
	font-size: 2em;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: white;
	font-family: 'Roboto Condensed', sans-serif;
}

/*-----------ESTILOS FOOTER-----------*/
#main-footer{
	background: #333;
	color: white;
	height: 80px;
}
#main-footer a{
	color:white;
}
#logo-footer{
	float:left;
	padding: 15px;
	text-decoration: none;
}
	#logo-footer:hover{
		color:#0b76a6;
	}

#logo-footer .site-name{
	display:block;
	font-weight: 300;
	font-size: 0.8em;
	color: #999;
}
#logo-footer .gmail{
	display:block;
	font-weight: 700;
	font-size:1.2em ;

}



