html{
	font-family: 'Merriweather', serif;	
}
header{
	margin-bottom: 20px;
}
body{
	margin: 0;
	padding: 0;
	color: #666;
	font-size: 1em;
	line-height: 1.5em;
	text-align: justify;
}
hr{
	height:1px;
	background-color: black;
}
h4{
	font-family: 'Lato bold',sans-serif;
	
}
h3{
	font-family: 'Lato bold',sans-serif;
	text-align:center;
	color: #665687;
}
ul{
	list-style: none;
}
/*----header_nav---------*/
#main-header{
	background: #333;
	color: white;
	height: 80px;
}
	#main-header a{
		color:white;
	}
#logo-header{
	float:left;
	padding: 15px;
	text-decoration: none;
}
	#logo-header:hover{
		color:#0b76a6;
	}

#logo-header .site-name{
	display:block;
	font-weight: 700;
	font-size:1.2em ;
}
#logo-header .site-desc{
	display:block;
	font-weight: 300;
	font-size: 0.8em;
	color: #999;
}
nav{
	float: right;
}
	nav ul{
		margin:0;	
		padding: 0;
		padding-right:20px; 
	}
	nav ul li {
		display:inline-block;
		line-height: 80px;
	}
	nav ul li a{
		display:block;
		padding: 0 10px;
		text-decoration: none;
	}
	nav ul li a:hover {
			background: #0b76a6;
	}



/*------IMG_DNI-------*/
.photoDNI{
	padding:10px;
	margin-left: 0;
}
img{
	width: 250px;
	border-radius: 48%;
	

	
}
/*-------columna_izq------*/
.flexbox-container{
	display: -ms-flex;
    display: -webkit-flex;
    display: flex;

}

.flexbox-container .box-izq{
width:25%;
padding: 10px
}
.box-izq{
	background-color: #C9D3E0;
	margin: 20px;

}

.skills{
	padding: 5px; 
	width: 45%; 
	text-align:justify;
	color:white;
}
progress{
width: 200px;
height:	20px;
}
progress[value]{
	color:#665687;
	animation: prog 2s linear;
}

::-webkit-progress-bar-value {background-color: #1DA1F2; border-radius: 2rem;}
::-webkit-progress-value {background-color: #1DA1F2; border-radius: 2rem;}
::-moz-progress-bar {background-color: #1DA1F2; border-radius: 2rem;}

@keyframes prog {
0% {width: 0%; background-color: #f1f1f1;}
100% {width: 100% color: #000;}
}

/*--------columnas_derecha---------*/
.flexbox-container .box-der{
	width:75%;
	padding-top:10px ;
	margin-left: 50px;
	
}

.formacion{
	padding: 10px; 
	float: right; 
	width: 45%; 
	text-align: justify;
	
}
.experiencia{
	padding: 10px; 
	float: right; 
	width: 45%; 
	text-align: justify;
}



/*-----------ESTILOS FOOTER-----------*/
#main-footer{
	background: #333;
	color: white;
	height: 80px;
}
#main-footer a{
	color:white;
}
#logo-footer{
	float:left;
	padding: 15px;
	text-decoration: none;
}
	#logo-footer:hover{
		color:#0b76a6;
	}

#logo-footer .site-name{
	display:block;
	font-weight: 300;
	font-size: 0.8em;
	color: #999;
}
#logo-footer .gmail{
	display:block;
	font-weight: 700;
	font-size:1.2em ;

}




